.Board {
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;

    &.Board__broken {
        font-size: 20px;
        color: orangered;
    }
}
